<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppe Clone</title>
    <%- include('common/linkrels.ejs') %>
</head>
<body>
    <div class="content">
        <%- include('common/nav.ejs') %>
        <div class="container">
            <%- include('shops.ejs') %>
        </div>
    </div>
    <%- include('common/script.ejs') %>
</body>
</html>